/*** Common ***/
.noscript {
	background-color: #ffe5e5;
	border: 1px solid #f00;
	color: #f00;
	display: none;
	font-weight: bold;
	line-height: 3;
	text-align: center;
}
html,
body {
	height: 100%;
}
.overlay {
	position: fixed;
	background: rgba($white, .7);
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	@include transition(all .5s ease);
	&.active {
		z-index: 5;
	}
}
#wrapper {
	@extend .clearfix;
	@include box-sizing(border-box);
	background: $bgColor;
	position: relative;
	overflow-x: hidden;
	margin: 0 auto;
	width: $width;
	@include break-point(pc) {
		@include box-sizing(border-box);
		@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.1));
	}
	&.disable {
		overflow: hidden;
		height: 100%;
	}
	@include break-point(tablet) {
		width: 100%;
	}
}
.inner {
	@include box-sizing(border-box);
	padding: 0 1em;
}
.b-shadow {
	@include box-sizing(border-box);
	@include box-shadow(0 0 10px 2px rgba(0, 0, 0, 0.1));
}

.sns-share-links {
	@include box-sizing(border-box);
	display: block;
	margin: 0 auto;
	text-align: center;
	padding-top: .8em;
	padding-bottom: .2em;
	li {
		display: inline-block;
		vertical-align: top;
	}
}

.mb1 {
	margin-bottom: 1em;
}
.mb2 {
	margin-bottom: 2em;
}

section {
	.text-content-area {
		padding: 1.5em 1em;
		p {
			margin-bottom: 1em;
		}
	}
	.ttl02 {
		@extend .inner;
		text-align: center;
		img {
			@include break-point(mobile) {
				width: 100%;
			}
		}
	}
}
.kamacon-info {
	background: image-url('bg-pt02@2x.png') no-repeat;
	@include background-size(cover);
	@include box-sizing(border-box);
	padding: 1em;
	margin-bottom: 2em;
	color: $white;
	.kamacon-ttl {
		$font-size: 18px;
		@include adjust-font-size-to($font-size);
		text-align: center;
	}
	p {
		color: $white;
	}
}


.art02 {
	.sec01 {
		margin-bottom: 3em;
		.ttl02 {
			margin-bottom: 2em;
		}
		.col-wrapper {
			@extend .inner;
			.name {
				$font-size: 18px;
				@include adjust-font-size-to($font-size);
				color: $keyColor02;
				font-weight: 600;
				display: inline-block;
				position: relative;
				&::after {
					@include pseudo-element;
					background: $keyColor02;
					height: 1px;
					width: 200px;
					bottom: 5px;
				}
				span {
					font-size: 10px;
					font-weight: 300;
					margin-left: 1em;
				}
			}
		}
		.col2-a {
			@extend .clearfix;
			margin-bottom: 2em;
			.left {
				@extend .fl;
				margin-right: 1em;
				@include break-point(mobile-s) {
					width: 30%;
				}
			}
		}
		.col2-b {
			@extend .clearfix;
			.right {
				@extend .fr;
				margin-left: 1em;
				@include break-point(mobile-s) {
					width: 30%;
				}
			}
		}
	}
	.sec02 {
		text-align: center;
		.ttl02 {
			margin-bottom: 1.5em;
		}
	}
}
.bnr01-area {
	background: image-url('bg-pt01@2x.png') repeat;
	@include background-size(25%);
	@include box-sizing(border-box);
	padding: 1em;
	text-align: center;
	margin-bottom: 2em;
	.click-text {
		display: block;
		margin: 0 auto;
	}
	.bnr01 {
		@extend .b-shadow;
		display: inline-block;
		margin: 1em 0;
		@include break-point(mobile-s) {
			img {
				width: 100%;
			}
		}
	}
}
.bnr-list {
	display: inline-block;
	li {
		@extend .b-shadow;
		margin-bottom: 2em;
		&:last-child {
			margin-bottom: 4em;
		}
		@include break-point(mobile-s) {
			img {
				width: 100%;
			}
		}
		&.disable {
			pointer-events: none;
			@include opacity(.6);
		}
	}
}


.ttl03 {
	font-weight: 600;
	margin-bottom: .5em;
}

.text-link {
	color: #00B1FF;
	word-break: break-all;
}