$width: 860px;
$height: 520px;
.photoshop-picker {
    margin-bottom: 1em;
}
.input-area {
    width: $width;
    text-align: right;
    label {
        width: calc((860px - 337px) / 3);
        margin-left: 1em;
    }
}
.card-back {
    position: relative;
    width: $width;
    height: $height;
    margin-bottom: 1em;
    div {
        display: inline-block;
        height: 100%;
    }
    .string {
        z-index: 20;
        position: relative;
        top: -27px;
        left: 0;
        width: 330px;
        height: 45px;
        margin-right: 7px;
        background: #565656;
        text-align: center;
        span {
            margin: 0 2px;
            color: #e0e0e0;
            font-size: 12.5px;
        }
    }
    .color {
        top: 0;
        width: calc((860px - 337px) / 3);
    }
    img {
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.card-front {
    position: relative;
    width: $width;
    img {
        width: 100%;
        height: $height;
    }
    .top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 20px;
        .color {
            display: inline-block;
            width: calc((860px - 337px) / 3);
            height: 100%;
        }
        .normal {
            display: inline-block;
            width: 337px;
            height: 100%;
            background: #565656;
        }
    }
    .name-area {
        position: absolute;
        top: 90px;
        left: 30px;
        color: #000;
        .position {
            margin-bottom: 2em;
        }
        .name {
            font-size: 2em;
            span {
                margin-right: 0.5em;
            }
        }
        .ruby {
            span {
                margin-right: 0.5em;
            }
        }
        .email {

        }
    }
    .name-input-area input {
        margin-right: 1em;
    }
    dl {
        display: inline-block;
    }
}
