$base-font-size: 14px;
$base-line-height: 21px;
@include establish-baseline;

body {
	@extend .ffg;
	font-weight: 200;
	@include break-point(mobile) {
		$font-size: 14px;
		@include adjust-font-size-to($font-size);
	}
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: 'liga', 'kern';
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}