// Colors
$bg: #fafafa;
$text: #565656;
$accentColor: #6598b3;
$bdc: #efebe9;
$green: #47b085;

// Support SVG for IE9
$experimental-support-for-svg: true;

// Vendor Prefix
// $experimental-support-for-opera: false; // -o-
// $experimental-support-for-microsoft: false; // -ms-
// $experimental-support-for-mozilla: false; // -moz-

$width: 320px;